<div class="card mt-3">
  <div class="card-header">
    Lista de clientes
    <a routerLink="/clientes/create" class="btn btn-primary btn-sm float-right">Nuevo</a>
    <a href="javascript: void(0)" class="btn btn-outline-success btn-sm float-right mr-1">
      <i class="fas fa-file-excel"></i>
    </a>
    <a href="javascript: void(0)" class="btn btn-outline-danger btn-sm float-right mr-1">
      <i class="fas fa-file-pdf"></i>
    </a>
  </div>
  <div class="card-body">
    <div class="progress mb-1" *ngIf="isLoading">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div *ngIf="clientes.length > 0 && !isLoading" class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="table-active">
            <th>Nombre completo</th>
            <th>Correo electrónico</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.nombreCompleto }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.fechaCreacion }}</td>
            <td class="d-flex justify-content-center">
              <a [routerLink]="['/clientes/edit', cliente.id]" class="btn btn-primary btn-sm mr-1">
                <i class="far fa-edit"></i>
              </a>
              <button (click)="openModal(cliente)" class="btn btn-success btn-sm mr-1">
                <i class="far fa-eye"></i>
              </button>
              <a href="javascript: void(0)" (click)="deleteCliente(cliente)" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Paginación -->
      <app-paginator *ngIf="paginator" [paginator]="paginator" [params]="params" (reload)="getClientes()">
      </app-paginator>
    </div>
    <!-- No hay datos -->
    <div class="text-center" *ngIf="clientes.length <= 0 && !isLoading">
      No hay registros todavía
    </div>
  </div>
</div>

<app-cliente-detail *ngIf="cliente" [cliente]="cliente"></app-cliente-detail>