<div *ngIf="!cliente; else elseBlock">
  espere...
</div>
<ng-template #elseBlock>
  <div class="modal-header">
    <h5 class="modal-title">Detalle del Cliente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ cliente.nombreCompleto }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ cliente.correo }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ cliente.fechaCreacion }}
            </li>
          </ul>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input (change)="selectedPhoto($event)" type="file" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02">Seleccionar foto</label>
              </div>
              <div class="input-group-append">
                <button (click)="upload()" [disabled]="!thumbnail" class="input-group-text">Subir</button>
              </div>
            </div>
            <div *ngIf="progress > 0" class="progress">
              <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0"
                aria-valuemax="100" [ngStyle]="{width: progress + '%'}">
                {{ progress }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <img *ngIf="cliente?.imagen" class="img-fluid" src="{{ cliente.imagen }}" alt="Foto del cliente">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close('Close click')">
      Cerrar
    </button>
  </div>
</ng-template>